*{margin: 0; padding: 0}

.main_board{
  display: grid;
  grid-template-columns: 300px 300px 300px;
}
.board_execute{
  background-color: aquamarine;
}
.board_doing{
  background-color: blanchedalmond;
}
.board_completed{
  background-color: aqua;
}

.card_todo{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
}
.submit_place{
  padding-top: 10px;
}
.submit_place input{
  border: 0px;
  border-radius: 3px;
  padding: 2px 6px;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
}
.submit_place input:hover{
  background-color: coral;
}

.addCardBTN{
  margin: 10px;
  border: 2px dashed #fff;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.addCardBTN:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.addCardBTN span{
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
}
input.inputNewCard{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
  border: 0px;
  outline: none;
  width: 93%;
  box-sizing: border-box;
}