*{margin: 0; padding: 0}
html, body, #root, .main_page{height: 100%;}

.main_board{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main_board>div h1{
  margin-left: 10px;
  color: #ffffff;
}
.board_execute{
  background-color: lightgreen;
}
.board_doing{
  background-color: lightcoral;
}
.board_completed{
  background-color: lightskyblue;
}

.card_todo{
  min-width: 300px;
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
  display: grid;
  grid-template:
          "text arrow"
          "subm delet"
          /1fr 30px
  ;
}
.text{
  grid-area: text;
}
.arrows{
  grid-area: arrow;
  text-align: right;
}
.delete{
  grid-area: delet;
  text-align: right;
}
.submit_place{
  grid-area: subm;
}
.submit_place input, .delete input, .arrows input, .text input{
  border: 0px;
  border-radius: 3px;
  padding: 2px 6px;
  outline: none;
  cursor: pointer;
}
.submit_place input:enabled:hover{
  background-color: coral;
  cursor: pointer;
}
.submit_place input:disabled:hover{
  cursor: initial;
}
.submit_place input:not(:last-child){
  margin-right: 10px;
}
.arrows input {
  margin-bottom: 5px;
}
.arrows input:hover{
  background-color: darksalmon;
  color: white;
}
.delete input, .arrows input, .text input{
  width: 28px;
}
.delete input:hover{
  background-color: brown;
  color: white;
}
.text{
  width: 100%;
  padding-right: 10px;
  box-sizing: border-box;
}
.text textarea{
  box-sizing: border-box;
  min-width: 100%;
  min-height: 50px;
  white-space: pre-wrap;
  resize: vertical;
  outline: none;
  border: 1px solid rgba(0,0,0, 0.08);
  font-size: 16px;
  font-family: sans-serif;
  color: rgba(0,0,0, 0.7);
 }
.text p {
  max-width: 100%;
  word-break: break-all;
}
.addCardBTN{
  margin: 10px;
  border: 2px dashed #fff;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.addCardBTN:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.addCardBTN span{
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
}
.addCardNew{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
}
textarea.inputNewCard{
  width: 100%;
  border: 0px;
  outline: none;
  border: 1px solid rgba(0,0,0, 0.08);
  min-height: 90px;
  font-size: 16px;
  font-family: sans-serif;
  color: rgba(0,0,0, 0.7);
  box-sizing: border-box;
  resize: vertical;
}