*{margin: 0; padding: 0}

.main_board{
  display: grid;
  grid-template-columns: 300px 300px 300px;
}
.main_board>div h1{
  margin-left: 10px;
  color: #ffffff;
}
.board_execute{
  background-color: lightgreen;
}
.board_doing{
  background-color: lightcoral;
}
.board_completed{
  background-color: lightskyblue;
}

.card_todo{
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
  display: grid;
  grid-template:
          "text arrow"
          "subm delet"
          /1fr 30px
  ;
}
.text{
  grid-area: text;
}
.arrows{
  grid-area: arrow;
  text-align: right;
}
.delete{
  grid-area: delet;
  text-align: right;
}
.submit_place{
  grid-area: subm;
}
.submit_place input, .delete input, .arrows input, .text input{
  border: 0px;
  border-radius: 3px;
  padding: 2px 6px;
  outline: none;
  cursor: pointer;
}
.submit_place input:not(:last-child){
  margin-right: 10px;
}
.arrows input {
  margin-bottom: 5px;
}
.arrows input:hover{
  background-color: darksalmon;
  color: white;
}
.delete input, .arrows input, .text input{
  width: 28px;
}
.delete input:hover{
  background-color: brown;
  color: white;
}
.submit_place input:hover{
  background-color: coral;
}
.text input{
   box-sizing: border-box;
   width: 100%;
   white-space: pre-wrap;
 }
.addCardBTN{
  margin: 10px;
  border: 2px dashed #fff;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.addCardBTN:hover{
  background-color: rgba(255, 255, 255, 0.3);
}
.addCardBTN span{
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  cursor: pointer;
}
input.inputNewCard{
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0, 0.2);
  border: 0px;
  outline: none;
  width: 93%;
  box-sizing: border-box;
}